
img {
	display: block;
	margin: auto;
}
.hat {
	position: relative;
	top: 50px;
	left: 15px;
}
.glasses {
	position: relative;
	left: 5px;
	top: 50px;
}
.octopus {
	position: relative;
	bottom: 110px;
	z-index: -1;
}







